<div class="container">
    <h1>About </h1>
    <p>A google chrome extension using Angular w/ Typescript (Angular Materials, Custom Angular Animations, Ng-Templating/Two Way Binding, SCSS, HTML, etc),  Typescript Classes and Microservices, RXJS Observables, localStorage, Bootstrap, and Datamuse API. </p> 
    <p> Needed a tool as a writer. Hope it helps you like it's been aiding me! </p>
    <p> Please share this app around if you find it cool, give me some pointers on the UI, and let me know any bugs you find.</p>
    <a target="_blank" href="https://www.datamuse.com/api">Datamuse</a><br>
    <a target="_blank" href="https://github.com/ninap41/Angular-Chrome-Extension-Datamuse">View Project Code</a>

</div>