   
<div class="background">
    <mat-menu #appMenu="matMenu" yPosition="above">
        <button mat-menu-item class="active" routerLinkActive="active"[routerLink]="['']">Search Words</button>
        <button mat-menu-item routerLinkActive="active"[routerLink]="['about']">About</button>
        <button mat-menu-item routerLinkActive="active"[routerLink]="['settings']">Settings</button>
        <button mat-menu-item routerLinkActive="active"[routerLink]="['help']">Help</button>
        <button mat-menu-item routerLinkActive="active"[routerLink]="['favorites']">Session Favorites</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
      <h2 class="m-heading"><span class="font-fam1">Words. </span><span class="font-fam2">Words? </span><span  class="font-fam3">Words!</span></h2>
    <br><mat-divider></mat-divider>
    <main [@routerTransition]="getState(o)">
        <router-outlet class="main" #o="outlet"></router-outlet>
    </main>
</div>