.button-left {
    margin: 0 1em;
}

.container-search {
  
    position: relative;
    width: 100%;
    margin: 0 auto;
 
}

form {
    position: relative;
    right:0;
    margin: 0 auto;
    padding-left: 20%;
}