
<div class="container">
    <form (ngSubmit)="onSubmit(word.value)">
        <mat-form-field>
            <input matInput #word placeholder="Search Word">
        </mat-form-field>
        <button type="submit" class="button-left" mat-flat-button color="primary">Search</button>
        <button *ngIf="this.s.context.history.length >= 1 && this.currentIndex !== 0" (click)="goBack()" mat-flat-button color="warning">Go Back</button>

     </form>
</div>

<app-loader *ngIf="this.ls.uniSpinner.loading === true"></app-loader>


<!-- {{ context | json }} -->
<div class="" *ngIf="this.ls.uniSpinner.loading === false" >
  <br>
  <app-related [con]="this.context.searchDict.defList" [title]='this.title[0]'></app-related>
  <br>
  <app-related [con]="this.context.searchDict.synList" [title]='this.title[1]'></app-related>
  <br>
  <app-related [con]="this.context.searchDict.relList" [title]='this.title[3]'></app-related>
  <br>
  <app-related [con]="this.context.searchDict.rhymList" [title]='this.title[4]'></app-related>
  <br>
  <app-related [con]="this.context.searchDict.antList" [title]='this.title[2]'></app-related>
</div>