.button-left {
    margin: 0 1em;
}

.container-search {
  
    position: relative;
    width: 100%;
    margin: 0 auto;

    form {
        position: relative;
        left:0;
        right:0;
        padding:0 15%;
        
    }
}

.tinyBut {
    max-width: 20px; 
    margin: 0 2px;
}
