<div class="container">
  <br><br> 
  <h3>History</h3>
  <br>
  <mat-chip-list>
      <span *ngFor="let word of this.s.history; let idx">
        <mat-chip >
          <span (click)="searchAgain(word, true)">{{word}}</span>
        </mat-chip>
      </span>
  </mat-chip-list>
  <span *ngIf="this.s.context.history.length === 0">
      <p>You have no history yet.</p>
  </span>
  <br><br>
  <h3>Favorites</h3>
  <br>
  <span *ngIf="this.fav.length ===0">
    <p>You have no favorites yet.</p>
  </span>
  <mat-chip-list>
      <span *ngFor="let word of this.s.context.favorites; let idx">
        <mat-chip >
          <span (click)="searchAgain(word, true)">{{word}}</span>
        </mat-chip>
      </span>
  </mat-chip-list>
  <button class="btn btn-primary"(click) ="downloadFile(this.fav)">Save Words</button>
</div>