
<div class="container">
    
<mat-tab-group  #mytab  >
    <mat-tab   label="Definition"> 
        <form (ngSubmit)="this.ds.getData(definition.value, 'definition')">
          <mat-form-field>
            <input matInput #definition placeholder="Find Definition">
        </mat-form-field>
        <button type="submit" class="button-left" mat-flat-button color="primary">Search</button>
        </form> 
        <div class="container">
            <span [innerHTML]="this.ds.errMessage" class="err"></span>
            <span *ngIf="this.ds.DefObjList!== null || ls.DefObjListSpinner.loading === false">
                <span *ngFor="let word of this.ds.DefObjList;let idx">
                  <mat-chip-list>
                    <mat-chip (click)="getServiceData(0, word.word, 'definition')" [ngStyle]="setMyStylesMat(word)" value="word.word"> 
                      {{word.word}} 
                    </mat-chip>
                    &nbsp;<mat-icon class="heart" (click)="saveWord(word.word)" aria-label="Example icon-button with a heart icon">favorite</mat-icon>
                  </mat-chip-list>

                  <br>
                  <div *ngFor="let def of word.defs"> <p>-{{def}}
                  </p> </div>
              </span>
            </span>
            <app-loader *ngIf="ls.DefObjListSpinner.loading === true"></app-loader>        
          </div>
      </mat-tab>
    
      <mat-tab  label="Related"> 
          <form (ngSubmit)="this.ds.getData(related.value, 'related')">
            <mat-form-field>
              <input #related  matInput placeholder="Related Words">
          </mat-form-field>
          <button type="submit" mat-flat-button class="button-left" color="primary">Search</button>
          </form>
          <div class="container">
              <span [innerHTML]="this.ds.errMessage" class="err"></span>
              <span *ngIf="this.ds.RelObjList !== null ||  ls.RelObjListSpinner.loading === false">
                      <mat-chip-list>
                        <span *ngFor="let word of this.ds.RelObjList; let idx">
                          <mat-chip  
                          aria-label="Show/Hide tooltip on the button at the end of this section"
                          class="example-action-button"
                          [ngStyle]="setMyStylesMat(word)" 
                          value="word.word">
                          <span (click)="getServiceData(1, word.word, 'definition')">{{word.word}}</span>
                          
                        </mat-chip>
                        </span>
                      </mat-chip-list>
                      
                </span>
                <app-loader *ngIf="ls.RelObjListSpinner.loading === true"></app-loader>
            </div>
      </mat-tab>

    <mat-tab label="Synonym">
      <form (ngSubmit)="this.ds.getData(synonym.value, 'synonym')">
        <mat-form-field>
            <input #synonym matInput placeholder="Find Synonym">
        </mat-form-field>
        <button type="submit" class="button-left" mat-flat-button color="primary">Search</button>
      </form> 
      <div class="container">
          <span [innerHTML]="this.ds.errMessage" class="err"></span>
          <span  *ngIf="this.ds.SynObjList !== null ||  ls.SynObjListSpinner.loading === false">
                  <mat-chip-list>
                    <span *ngFor="let word of this.ds.SynObjList; let idx">
                      <mat-chip [ngStyle]="setMyStylesMat(word)" value="word.word">
                        <span (click)="getServiceData(2, word.word, 'definition')" >{{word.word}}</span>
                        <button mat-icon-button color="warn">  </button>
                        

                      </mat-chip>
                    </span>
                  </mat-chip-list>
          </span>
          <app-loader *ngIf="ls.SynObjListSpinner.loading === true"></app-loader> 

        </div>
    </mat-tab>

    <mat-tab label="Antonym"> 
        <form (ngSubmit)="this.ds.getData(antonym.value, 'antonym')">
          <mat-form-field>
            <input #antonym  matInput placeholder="Find Antonym">
        </mat-form-field>
        <button type="submit" mat-flat-button class="button-left" color="primary">Search</button>
        </form>
        <div class="container">
            <span [innerHTML]="this.ds.errMessage" class="err"></span>
            <span *ngIf="this.ds.AntObjList !== null ||  ls.AntObjListSpinner.loading === false">
                <p *ngIf="this.ds.AntObjList !== null ||  ls.AntObjListSpinner.loading === false"> click '?' for synonyms | click the word for definitions</p>
                    <mat-chip-list>
                      <span *ngFor="let word of this.ds.AntObjList; let idx">
                        <mat-chip [ngStyle]="setMyStylesMat(word)" value="word.word">
                          <span (click)="getServiceData(3, word.word, 'synonym')" ><i class="fas fa-question"></i>	&nbsp;</span>
                          <span (click)="getServiceData(3, word.word, 'definition')" > {{word.word}}</span>
                          
                        </mat-chip>
                      </span>
                    </mat-chip-list>
              </span>
              <app-loader *ngIf="ls.AntObjListSpinner.loading === true"></app-loader>
          </div>
    </mat-tab>

    <mat-tab label="Rhyme"> 
      <form (ngSubmit)="this.ds.getData(rhyme.value, 'rhyme')">
        <mat-form-field>
            <input matInput #rhyme placeholder="Find Rhyme">
          </mat-form-field>
           <button type="submit" mat-flat-button class="button-left" color="primary">Search</button>
        </form>
        <div class="container">
            <span [innerHTML]="this.ds.errMessage" class="err"></span>
            <span *ngIf="this.ds.RhymObjList !== null || ls.RhymObjListSpinner.loading === false" >
                    <mat-chip-list>
                      <span *ngFor="let word of this.ds.RhymObjList">
                          <mat-chip [ngStyle]="setMyStylesMat(word.word)" value="word.word">
                            <span (click)="getServiceData(4, word.word, 'definition')" >{{word.word}}</span>
                            
                          </mat-chip>
                          
                      </span>
                    </mat-chip-list>
            </span>
            <app-loader *ngIf="ls.RhymObjListSpinner.loading === true"></app-loader>
        </div>
        </mat-tab>
      

      <mat-tab  label="Session Favorites"> 
        <div class="container">
          <br><br>
          <mat-chip-list >
            <span *ngFor="let word of this.ds.favorites">
              <div class="container">
                <mat-chip (click)="getServiceData(5, word, 'definition')">{{word}} 
                </mat-chip>
                <span class="remove" (click)='removeFromFavs(word)'>X</span>
              </div>
            </span>
          </mat-chip-list>
          <BR><BR>
        <button class="btn btn-primary"(click) ="downloadFile(this.ds.favorites)">Save Words</button>
        </div>
      </mat-tab>
  </mat-tab-group>
</div>



