
@import url('https://fonts.googleapis.com/css?family=Neucha');

.example-container {
}

.example-container > * {
  width: 100%;
}

.button-left {
  margin: 0em 1em;
}

.mat-form-field, .mat-tab-group {
  padding-top: 1em;
}

.font-fam3 {
  font-family: 'Nothing You Could Do', cursive;
}

.err {
  font-family: 'Nothing You Could Do', cursive;
  word-spacing: 2px;
  font-size: 1.5em;
  font-weight: 600;
}
.mat-progress-spinner {
  margin: 0 auto;
  background-color: rgb(189, 189, 189)
}

