
@import url('https://fonts.googleapis.com/css?family=Neucha');

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.button-left {
  margin: 0em 1em;
}

.mat-form-field, .mat-tab-group {
  padding-top: 1em;
}

.font-fam3 {
  // font-family: 'Gloria Hallelujah', cursive;

}

.err {
  font-family: 'Neucha', cursive;
  font-size: 1.5em;
 font-weight: 600;
}
.mat-progress-spinner {
  margin: 0 auto;
  background-color: rgb(189, 189, 189)
}

