
<div class="container">
    
<mat-tab-group>
    <mat-tab label="Definition"> 
        <form (ngSubmit)="this.ds.getData(definition.value, 'definition')">
          <mat-form-field>
            <input matInput #definition placeholder="Find Definition">
        </mat-form-field>
        <button type="submit" class="button-left" mat-flat-button color="primary">Search</button>
        </form> 

        <div class="container">
            <span *ngIf="this.ds.DefObjList!== null || ls.DefObjListSpinner.loading === false">
                <span *ngFor="let word of this.ds.DefObjList">
                    <mat-chip-list>
                      <mat-chip value="word.word"> {{word.word}}  </mat-chip>
                    </mat-chip-list>
                    <mat-list *ngFor="let def of word.defs">
                        <mat-list-item> -<i>{{def}}</i> </mat-list-item>
                    </mat-list>
              </span>
            </span>
            <app-loader *ngIf="ls.DefObjListSpinner.loading === true"></app-loader>        
            <span *ngIf="errMessage"><pre>{{ errMessage | json}}</pre></span>
            <span *ngIf="ds.DefObjList"><pre *ngIf="ds.DefObjList!.length === 0">Sorry. No Words Found.</pre></span>

          </div>
      </mat-tab>

    <mat-tab label="Synonym">
      <form (ngSubmit)="this.ds.getData(synonym.value, 'synonym')">
        <mat-form-field>
            <input #synonym matInput placeholder="Find Synonym">
        </mat-form-field>
        <button type="submit" class="button-left" mat-flat-button color="primary">Search</button>
      </form> 
      <div class="container">
          <span  *ngIf="this.ds.SynObjList !== null ||  ls.SynObjListSpinner.loading === false">
              <span *ngFor="let word of this.ds.SynObjList ">
                  <mat-chip-list>
                      <mat-chip value="word.word">{{word.word}}</mat-chip>
                  </mat-chip-list>
            </span>
          </span>
          <app-loader *ngIf="ls.SynObjListSpinner.loading === true"></app-loader> 
          <span *ngIf="errMessage"><pre>{{ errMessage | json}}</pre></span>
          <span *ngIf="ds.SynObjList "><pre *ngIf="ds.DefObjList.length === 0">Sorry. No Words Found.</pre></span>


        </div>
    </mat-tab>

    <mat-tab label="Antonym"> 
        <form (ngSubmit)="this.ds.getData(antonym.value, 'antonym')">
          <mat-form-field>
            <input #antonym  matInput placeholder="Find Antonym">
        </mat-form-field>
        <button type="submit" mat-flat-button class="button-left" color="primary">Search</button>
        </form>
        <div class="container">
            <span *ngIf="this.ds.AntObjList !== null ||  ls.AntObjListSpinner.loading === false">
                <span *ngFor="let word of this.ds.AntObjList">
                    <mat-chip-list>
                        <mat-chip value="word.word">{{word.word}}</mat-chip>
                    </mat-chip-list>
              </span>
            </span>
              <app-loader *ngIf="ls.AntObjListSpinner.loading === true"></app-loader>
              <span *ngIf="errMessage"><pre> Sorry. No Words Found.{{ errMessage | json}}</pre></span>
              <span *ngIf="this.ds.AntObjList"><pre *ngIf="this.ds.AntObjList.length === 0">Sorry. No Words Found.</pre></span>
          </div>
    </mat-tab>

    <mat-tab label="Rhyme"> 
      <form (ngSubmit)="this.ds.getData(rhyme.value, 'rhyme')">
        <mat-form-field>
            <input matInput #rhyme placeholder="Find Rhyme">
          </mat-form-field>
           <button type="submit" mat-flat-button class="button-left" color="primary">Search</button>

        </form>
        <div class="container">
            <span *ngIf="this.ds.RhymObjList !== null || ls.RhymObjListSpinner.loading === false" >
                <span *ngFor="let word of this.ds.RhymObjList">
                    <mat-chip-list>
                        <mat-chip value="word.word">{{word.word}}</mat-chip>
                    </mat-chip-list>
                </span>
            </span>
            <app-loader *ngIf="ls.RhymObjListSpinner.loading === true"></app-loader>
            <span *ngIf="errMessage"><pre> Sorry. No Words Found.{{ errMessage | json}}</pre></span>
            <span *ngIf="this.ds.RhymObjList"><pre *ngIf="this.ds.RhymObjList.length === 0">Sorry. No Words Found.</pre></span>

        </div>
        </mat-tab>

        <mat-tab label="Other Search"> 
        <pre>
            words with a meaning similar to ringing in the ears	/words?ml=ringing+in+the+ears
            words related to duck that start with the letter b	/words?ml=duck&sp=b*
            words related to spoon nvmthat end with the letter a	/words?ml=spoon&sp=*a
            words that sound like elefint	/words?sl=elefint
            words that start with t, end in k, and have two letters in between	/words?sp=t??k
            words that are spelled similarly to coneticut	/words?sp=coneticut
            words that rhyme with forgetful	/words?rel_rhy=forgetful
            words that rhyme with grape that are related to breakfast	/words?ml=breakfast&rel_rhy=grape
            adjectives that are often used to describe ocean	/words?rel_jjb=ocean
            adjectives describing ocean sorted by how related they are to temperature	/words?rel_jjb=ocean&topics=temperature
            nouns that are often described by the adjective yellow	/words?rel_jja=yellow
            words that often follow "drink" in a sentence, that start with the letter w	/words?lc=drink&sp=w*
            words that are triggered by (strongly associated with) the word "cow"	/words?rel_trg=cow
            suggestions for the user if they have typed in rawand so far	/sug?s=rawand

        </pre>
      </mat-tab>
  </mat-tab-group>
</div>



