<div class="container">
    <h1>Satans </h1>
    <p>Settings will be coming soon. Will include limiting the results and even more customized searches including searches that can be as detailed as this...</p>
    <ul>
            <li>words with a meaning similar to ringing in the ears	</li>
            <li>words related to duck that start with the letter b</li>
            <li>words related to spoon that end with the letter a </li>
            <li>words that sound like elefint</li>
            <li>words that start with t, end in k, and have two letters in betweenn</li>
            <li>words that are spelled similarly to coneticut</li>
            <li>words that rhyme with forgetful </li>
            <li>words that rhyme with grape that are related to breakfast	</li>
            <li>adjectives that are often used to describe ocean	</li>
            <li>adjectives describing ocean sorted by how related they are to temperature	</li>
            <li>nouns that are often described by the adjective yellow</li>
            <li>words that often follow "drink" in a sentence, that start with the letter w	</li>
            <li>words that are triggered by (strongly associated with) the word "cow"	</li>
            <li>suggestions for the user if they have typed in rawand so far</li>
    </ul>
</div>